@model MovieApp.Entity.MovieModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>
<a asp-action="ShowMovieDetails" asp-controller="Movie">Movie Details</a>
<hr />
<h1>Delete Movie Details</h1>

<div class="container">
<form method="post">
     <div class="form-group">
        <label for="Firstname">Movie Id</label>
        <input type="text" class="form-control" asp-for="MovieId" disabled="disabled" >
    </div>
    <div class="form-group">
        <label for="Firstname">Movie Name</label>
        <input type="text" class="form-control" asp-for="MovieName" disabled="disabled">
    </div>
    <div class="form-group">
        <label for="Firstname">Movie Description</label>
        <input type="text" class="form-control" asp-for="MovieDescription" disabled="disabled">
    </div>
    <div class="form-group">
        <label for="Firstname">Movie Type</label>
        <input type="text" class="form-control" asp-for="MovieType" disabled="disabled">
    </div>
    <div class="form-group">
        <label for="Firstname">Movie Language</label>
        <input type="text" class="form-control" asp-for="MovieLanguage" disabled="disabled">
    </div>
    <input type="submit" class="btn btn-primary" value="Confirm-Delete">
  
    <hr />
    @if (ViewBag.status == "Success")
    {
        <div class="alert alert-success">
            @ViewBag.message
        </div>
    }
    else if (ViewBag.status == "Error")
    {
        <div class="alert alert-danger">
            @ViewBag.message
        </div>
    }
    <hr />
 
</form>
   </div>
