@model MovieApp.Entity.MovieModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
<a asp-action="ShowMovieDetails">Show Movies</a>
<form method="post">
    <div class="form-group">
        <label class="form-label">Movie Name</label>
        <input type="text" class="form-control" asp-for="MovieName">
    </div>
    <div class="form-group">
        <label class="form-label">Movie Description</label>
        <input type="text" class="form-control" asp-for="MovieDescription">
    </div>
    <div class="form-group">
        <label class="form-label">Movie Type</label>
        <input type="email" class="form-control" asp-for="MovieType">
    </div>
    <div class="form-group">
        <label class="form-label">Movie Language</label>
        <input type="text" class="form-control" asp-for="MovieLanguage">
    </div>
    <button type="submit" class="btn btn-primary" value="Update">Update Movie</button>"
    <button type="reset"  class="btn btn-secondary">Clear Form</button>
    <hr />

    @if (ViewBag.status == "Success")
    {
        <div class="alert alert-success">
            @ViewBag.message
        </div>
    }
    else
    {
        <div class="alert alert-danger">
            @ViewBag.message
        </div>
    }
</form>

