@model MovieApp.Entity.TheatreModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<a asp-action="ShowTheatreDetails">Show Theatres</a>
<form method="post">
    <div class="form-group">
        <label class="form-label">Thetre Name</label>
        <input type="text" class="form-control" asp-for="TheatreName">
    </div>
    <div class="form-group">
        <label class="form-label">Thetre Location</label>
        <input type="text" class="form-control" asp-for="TheatreLocation">
    </div>
    <div class="form-group">
        <label class="form-label">Thetre Capacity</label>
        <input type="email" class="form-control" asp-for="TheatreCapacity">
    </div>
    <button type="submit" class="btn btn-primary" value="Update">Update Theatre</button>"
    <button type="reset"  class="btn btn-secondary">Clear Form</button>
    <hr />

    @if (ViewBag.status == "Success")
    {
        <div class="alert alert-success">
            @ViewBag.message
        </div>
    }
    else
    {
        <div class="alert alert-danger">
            @ViewBag.message
        </div>
    }
</form>
